nav li {
    float : left;
    height : 20px;
    background-color :rgb(149, 149, 235);
    margin-right : 20px;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    width: 80px;
  }
  
  main ul {
    width: 200px;
    overflow: hidden;
    padding: 0;
    margin: auto;
  }
  
  #stores-info {
    width: 500px;
    margin: auto;
    float: inline-start;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: fit-content;
  }
  
  td, th {
    border: 1px solid #834242;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #e485e7;
  }
  
  #sales-forecast {
    background-color:cadetblue
  }